# Modified sshd_config file for security audits

Port 22
PermitRootLogin without-password
PubkeyAuthentication yes
AuthorizedKeysFile	 /dev/null
# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no


# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

TrustedUserCAKeys /var/ca/ssh/security-audit.ca.pub
